<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome to {{title}}</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

    <div>
        <table>
            <tr>
                <th class="floatLeft">Filters</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><b>HDD</b></label>
                    </div>
                </td>
                <td>
                    <div>
                        <select #hdds (change)="filterData(hdds.value, 'HDD')">
                            <option value="0">Please select HDD</option>
                            <option *ngFor="let hd of hdd" value="{{hd.value}}">{{hd.name}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><b>Location</b></label>
                    </div>
                </td>
                <td>
                    <div>
                        <select #loc (change)="filterData(loc.value, 'Location')">
                            <option value="0">Please select Location</option>
                            <option *ngFor="let location of locationList" value="{{location}}">{{location}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><b>HDD Storage:</b></label>
                    </div>
                </td>
                <td>
                    <div>
                        <range class="customPrice" [formGroup]="slide">
                            <div class="slideRange">
                                <input id="slider" formControlName="exteriorRang" #exteriorRang hidden customRangeSlider
                                    rangeType='rangeStorage' type="range" class="slider">
                            </div>
                        </range>
                        <span *ngIf="slide.controls['exteriorRang'].value > 0">
                            <b>HDD Storage: {{slide.controls['exteriorRang'].value}}
                                {{(slide.controls['exteriorRang'].value == 250 || slide.controls['exteriorRang'].value == 500) ? "GB" : "TB"}}</b>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label><b>RAM Capacity:</b></label>
                    </div>
                </td>
                <td>
                    <div>
                        <ng-container *ngFor="let chk of ramList">
                            <input type="checkbox" #chkbx (change)="checkUncheckThis($event)"
                                value="{{chk.value}}" />{{chk.name}}
                        </ng-container>
                    </div>
                </td>
            </tr>
        </table>
    </div>
<hr>
    <div>
        <table>
            <caption>Filtered Data</caption>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>RAM</th>
                <th>HDD</th>
                <th>Location</th>
                <th>Price</th>
            </tr>
            <ng-container *ngIf="showData?.length;else noDataTempl">
            <tr *ngFor="let data of showData; let i = index;">
                <td>{{total_records > 0 ? (cur_page - 1) * selectedValue + i + 1 : 0}}</td>
                <td>{{data.Model}}</td>
                <td>{{data.RAM}}</td>
                <td>{{data.HDD}}</td>
                <td>{{data.Location}}</td>
                <td>{{data.Price}}</td>
            </tr>
            </ng-container>
            <ng-template #noDataTempl>
                <tr>Oops....! No record found</tr>
            </ng-template>
            <tr>
                <td>
                    <app-pagination [count]="total_records" [page]="cur_page" [perPage]="page_size"
                        (goPage)="getThisPage($event)" (setPageSize)="setThisPageSize($event)"
                        [selectedValue]="selectedValue" class="pagination-tag-width">
                    </app-pagination>
                </td>
            </tr>
        </table>
    </div>

</div>