.slideRange{
    position: relative;  
    overflow: hidden;
    /* height: 32px; */
  }
  .fill_process{
      display: none;
  }
  .slideRange:before {
    content: "";
    height: 2px;
    background-color: #fafafa;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    left: 0;
    top: 50%;
    position: absolute;
    margin-top: -1px;
    z-index: 0;
}
range .slideRange{
    margin-top: 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    /* background: #C5C5C5; */
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    opacity: 1;
    height: 32px;
    position: relative;
    z-index: 2;
    border: none;
}
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      content: "";
      background:url('../assets/images/range.svg') center center no-repeat;
      background-size: 100% auto;
      height: 32px;
      width: 32px;
      border-radius: 0;
      top: 0;
      box-shadow: -1000px 1017px 0 1000px #FFF, -1000px -1017px 0 1000px #FFF,  -1000px -1000px 0 1000px #4bad94;
      z-index: 10;
      transition: all 0.2s;
      border: none;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    content: "";
    background:url('../assets/images/range.svg') center center no-repeat;
    background-size: 100% auto;
    height: 32px;
    width: 32px;
    border-radius: 0;
    top: 0;
    box-shadow: -1000px 1017px 0 1000px #FFF, -1000px -1017px 0 1000px #FFF,  -1000px -1000px 0 1000px #4bad94;
    z-index: 10;
    transition: all 0.2s;
    border: none;
}
input[type="range"]::-moz-range-track {background-color:rgba(0, 0, 0, 0.1) !important;}

.slider::-ms-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    content: "";
    background:url('../assets/images/range.svg') center center no-repeat;
    background-size: 100% auto;
    height: 32px;
    width: 32px;
    border-radius: 0;
    top: 0;
    box-shadow: -1000px 1017px 0 1000px #FFF, -1000px -1017px 0 1000px #FFF,  -1000px -1000px 0 1000px #4bad94;
    z-index: 10;
    transition: all 0.2s;
    border: none;
}